body
{
    background-color: #e0f2fe;
    height:100vh;
}

.container
{
    display:grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 4fr;
    height: 100%;
    gap:8px;
    
}

.sidebar
{   
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #38bdf8;
    color:rgb(0, 0, 0);
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 30px;
    gap:1em;
    font-family: 'Roboto', sans-serif;
    padding:60px;
    max-width: 300px;
}

.header
{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
    padding:1em;
    display:flex;
    flex-direction: column;
    box-shadow: 0px 4px 8px rgb(168, 168, 168);
    
}

.main-content
{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;

    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}

.cards
{   
    margin-top:25px;
    display:grid;
    padding: 3em;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    background-color: transparent;
    grid-template-rows: 300px 300px;
}

.card
{
    padding: 2em;
    border-radius: .3em;
    box-shadow: 2px 2px 2px black;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    max-height: 200px;
}

.card:hover
{
    transform: scale(1.1);
}


.an-tren
{
    display:flex;
    flex-direction: column;
    gap:20px;
    padding:10px;
    position:relative;
    top:15px;
    left:50px;
    
}
.ann
{
    width: 300px;
    height: 350px;
    background-color: white;
    display:flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    padding:20px;
    border-radius: 12px;
    box-shadow: 0px 5px 7px rgb(168, 168, 168);

}

.tren
{
    width: 300px;
    height: 350px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    border-radius: 12px;
    padding:20px;
    color:black;
    box-shadow: 0px 5px 7px rgb(168, 168, 168);
    
}

.anns
{   font-size: small;
    padding-left:1em;
    padding-top:1em;
    padding-right:1em;
    border-bottom-style:inset;
    margin: 2px;
    border-width: 1px;
    border-bottom-color: rgb(187, 183, 183);
    color:black;

}

.trens
{
    font-size:medium;
    
    border-bottom-style:inset;
    margin-left:10px;
    border-width: 1px;
    border-bottom-color: grey;
    display:flex;
    align-items:center;
    gap:15px;
}

.sidebar-item
{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:5px;
   
}

.sidebar img
{   
    height:40px;
    
}
.searchbar img
{
    height:30px;
    align-self: center;
    justify-self: center;
    float:left;
    position:relative;
    top:3px;
}
.header input[type=text]
{
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  width:1000px;
  background-color: #dbf1ff;
  border-radius: 200px;
  
}

.searchbar
{
    display:flex;
    gap:5px;
    align-items: center;
    
}
.name
{
    display:flex;
    align-items: center;
    gap: 10px;
    width:100%;
}
.name img
{
    height:50px;
}

.buttonsname
{   

    position:relative;
    left:500px;
    display:flex;
    gap:10px;

}

.buttonsname button
{
    height:50px;
    width:150px;
    border-style: none;
    border-radius: 200px;
    background-color: #7dd3fc;
    font-size: 17px;
    font-family:'roboto',sans-serif;
    font-weight: bold;
}
.buttonsname button:hover
{
    transform: scale(1.1);
}
.sidebar-head
{
    position:relative;
    right:30px;
    bottom:30px;
    font-size:42px;
    display:flex;
    gap:5px;
    
}

.sidebar-head img
{
    position:relative;
    bottom:5px;
    height:60px;
}

.sidebar button
{
    font-size: 25px;
    background-color: transparent;
    border:none;
    display:flex;
    gap:5px;
    align-items: center;
}

.sidebar button:hover
{
    transform: scale(1.1);
}

.notif
{
    position:relative;
    left:100px;
}
.notif:hover
 {
    transform:scale(1.2);
}
.toprightname
{
    display:flex;
    align-items: center;
    gap:10px;
    font-size:30px;
    position: relative;
    left:180px;
}

.toprightname:hover
{
    transform:scale(1.1);
}

.ann h4,.tren h4
{
    color:rgb(105, 105, 105);
}

.trenprofilepic
{
    height:60px;
    border-radius:50%;
}

.profile
{   
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    
    
}

.profile h3
{
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
    top:15px;

}

.profile h4
{   
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
    bottom:15px;
}

.bottom
{
    border-bottom:transparent;
}

.titles
{
    position: absolute;
    font-family:'roboto',sans-serif;
    left:450px;
    font-size: 25px;
    top:240px;
}

.card a
{
    display:contents;
    color:black;
}

input[type=text]:focus 
{
    outline-color:#7dd3fc;
}

.anntrenheads
{
    font-family: 'roboto',sans-serif;
    font-size: 20px;
    padding:5px;
}